* {
    box-sizing: border-box;
}

body {
    background-color: rgb(161, 220, 168);
}

#dealer-cards {
    height: 250px;
    border: 1px solid blue;
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

#player-cards {
    height: 250px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    
}

.cards {
    height: 80%;
    width: 150px;
    display: flex;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 72px;
    justify-content: center;
    align-items: center;
}


#main-text {
    height: 100px;
    border: 1px solid blue;
}

#player-choices{
    height: 100px;
    border: 1px solid blue;
    align-items: center;
    display: flex;
    justify-content: space-around;
    user-select: none;
}

.choice {
    height: 75px;
    width: 100px;
    font-size: large;
    border: 2px solid rgb(98, 21, 133);
    border-radius: 10px;
    cursor: pointer;
}

#stats-list {
    min-height: 150px;
    border: 1px solid blue;
    padding: 10px;
    user-select: none;
}
