* {
    box-sizing: border-box;
    font-family: 'Kavivanar', cursive;
}

body {
    background-color: rgb(161, 220, 168);
    /* background-image: url('blackjack-background.jpeg'); */
    /* background-size: cover;  */
    /* color: white; */
}

#dealer-cards {
    height: 225px;
    /* border: 1px solid blue; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    user-select: none;
    justify-content: start;
}

#player-cards {
    height: 225px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    user-select: none;
    justify-content: start;
}

.cards {
    height: 80%;
    width: 150px;
    display: flex;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 72px;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 4px 4px rgb(49, 48, 48);
}

.back-of-card {
    height: 80%;
    width: 150px;
    display: flex;
    /* background-color: rgb(166, 57, 166); */
    background-color: #145E69;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 8px;
    box-shadow: 4px 4px rgb(49, 48, 48);
}


#main-text {
    height: 100px;
    border: 2px solid black;
    /* background-color: rgb(170, 138, 98); */
    background-color: #2AC7DF;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    user-select: none
}
#deal-cards {
    height: 75%;
    width: 150px;
    border: 2px solid black;
    background-color: #2BE07E;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    margin-right: 20px;
    transition: .2s ease-out;
}

#deal-cards:hover {
    background-color: #2BE0BB;
    color: white
}



#reset {
    height: 75%;
    width: 150px;
    background-color: #2BE07E;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    margin-left: 20px;
    transition: .2s ease-out;
}

#reset:hover {
    background-color: #2BE0BB;
    color: white
}


#player-choices{
    height: 75px;
    /* border: 1px solid blue; */
    align-items: center;
    display: flex;
    justify-content: space-around;
    user-select: none;
}

.choice {
    height: 75px;
    width: 100px;
    background-color: #2BE07E;
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease-out;
}

.choice:hover {
    background-color: #2BE0BB;
    color: white
}

#stats-list {
    min-height: 150px;
    border: 2px solid black;
    padding: 10px;
    user-select: none;
    margin: 0;
    background-color: #2AC7DF;
}

.instruction {
    margin: 0 0 1rem 0;
}

.header-title {
    margin: 0;
    margin-bottom: 3px;
}

header {
    background-color: #2AC7DF;
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
    width: auto;
}

.text-box {
    border: 1px solid black;
    border-radius: 5px;
}

.balance-updater {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #2BE07E;
    cursor: pointer;
}

.balance-updater:hover {
    background-color: #2BE0BB;
    color: white
}

.clickable {
    box-shadow: 2px 2px rgb(49, 48, 48);
}